<mat-card>
  <div>
    <img class="logo" [src]="logo">
  </div>

  <mat-tab-group [selectedIndex]="selectedTabIndex" mat-stretch-tabs color="accent">
    <mat-tab label="Login">
      <div fxLayout="column" fxLayoutAlign="center center" style="height: 200px">
        <button (click)="login()" class="w100" mat-button>
          <img [src]="googleSignInButtonImage">
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Cadastro">
      <div class="container">
        <app-select-register-mode [selectedMode]="registerMode"  (modeChange)="registerModeChange($event)"></app-select-register-mode>
        <div class="margin-top w100">
          <button class="w100" (click)="registerWithGoogle()" mat-button> <img [src]="googleSignInButtonImage"> </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
