<form #form="ngForm" [formGroup]="addressForm">
  <div fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>CEP</mat-label>
      <input matInput name="zipCode" formControlName="zipCode" required>
      <mat-error *ngIf="zipCode.invalid">{{getZipCodeErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput name="address" formControlName="address" required>
      <mat-error *ngIf="zipCode.invalid">{{getAddressErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Complemento</mat-label>
      <input matInput name="addOnAdress" formControlName="addOnAdress" required>
      <mat-error *ngIf="zipCode.invalid">{{getAddOnAdressErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</form>
