<mat-toolbar color="primary">
  <span>Encontrar supermercados</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="buyersNavigationService.toOrders()">
      <mat-icon>shopping_cart</mat-icon>
      <span>Meus Pedidos</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-list *ngIf="marketsFound.length > 0">
  <mat-list-item matRipple *ngFor="let market of marketsFound" (click)="onMarketClick(market)">
    <img width="50" height="50" src="https://www.w3schools.com/howto/img_avatar2.png" alt="foto-mercado">
    <h4 mat-line>{{market.tradeName}}</h4>
    <p mat-line>
      <app-star-rating-input [rating]="market.rating"></app-star-rating-input>
    </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>