<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    <mat-icon *ngIf="drawer.opened">close</mat-icon>
  </button>
  <span>Meu Supermercado</span>
</mat-toolbar>
<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="overlay">
    <div class="container">
      <div fxLayout="column">
        <mat-list>
          <mat-list-item *ngFor="let routeUrl of routeUrls">
            <a routerLink="{{routeUrl.url}}" routerLinkActive="active" (click)="drawer.close()">
              {{routeUrl.name}}  
            </a>
          </mat-list-item>
          <mat-list-item>
            <button (click)="logOut()" class="w100" mat-button color="warn">Sair <mat-icon>exit_to_app</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
