* {
  box-sizing: border-box;
  margin: 0;
}

//custom scroll bar on desktop
@media screen and (min-width: 1024px){
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199); 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 160, 160); 
  }
}


html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  position: relative;
}

.text-center{
  text-align: center;
}

button {
  text-transform: uppercase;
}

.margin-left{
  margin-left: var(--margin);
}

.margin-right{
  margin-right: var(--margin);
}

.margin{
  margin: var(--margin);
}

.margin-top {
  margin-top: var(--margin);
}

.margin-bottom {
  margin-bottom: var(--margin);
}

.padding{
  padding: var(--padding);
}

.padding-left{
  padding-left: var(--padding);
}

.padding-right{
  padding-right: var(--padding);
}

.padding-bottom{
  padding-bottom: var(--padding);
}

.padding-top{
  padding-top: var(--padding);
}

.container{
  background-color: white;
  padding: var(--padding);
  margin-bottom: var(--margin);
}

.overflow{
  overflow: auto;
}

.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 auto;
}

.w100{
  width: 100%;
}