* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  position: relative;
}


button {
  text-transform: uppercase;
}

.padding{
  padding: 16px;
}

.padding-left{
  padding-left: 16px;
}

.padding-right{
  padding-right: 16px;
}

.padding-bottom{
  padding-bottom: 16px;
}

.padding-top{
  padding-top: 16px;
}

.container{
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.overflow{
  width: 100%;
  overflow: auto;
  flex-wrap: nowrap;
  padding-bottom: 16px;
  margin-bottom: -16px;
  
  > * {
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
  }
  margin-left: -8px;
  margin-right: -8px;

}

.column{
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.w100{
  width: 100%;
}