<mat-card [class.mat-elevation-z0]="true">
  <mat-card-content>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
      <div fxFlex="30%">
        <div class="card-img">
          <ng-content class="img" select="[card-img]"></ng-content>
        </div>
      </div>
      <div fxFlex="calc(70% - 5px)" fxLayout="column" class="text-center">
        <mat-card-subtitle>
          <ng-content select="[card-title]"></ng-content>
        </mat-card-subtitle>
        <mat-card-title color="mat-primary">
          <ng-content select="[card-subtitle]"></ng-content>
        </mat-card-title>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ng-content select="[card-actions]"></ng-content>
  </mat-card-actions>
</mat-card>