:host{
  padding-top: 56px;
  display: block;
  background-color: whitesmoke;
  position: relative;
}

app-products-product-card{
  flex: 1 1 25%;
  margin: 8px 0;
}

mat-toolbar[position="fixed"] {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 56px;
}

*[position="sticky"] {
  position: sticky;
  top: 56px;
  height: 56px;
  z-index: 10;
}

button.fab-btn{
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 11;
}

.badgeposition{
  position: relative;
  top: -10px;
  right: -32px;
}

.search-form-field{
  flex: 1 1 100%;
}

.search-view-container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 56px;
  margin-bottom: 0px;
  z-index: 10;
}