<mat-toolbar fxShow="true" fxShow.gt-sm="false" position="fixed" color="primary">
  <mat-toolbar-row>
    <button *ngIf="!searchingMode" mat-icon-button (click)="buyersNavigationService.toFindMarketPage()">
      <mat-icon >arrow_back</mat-icon>
    </button>
    <button *ngIf="searchingMode" mat-icon-button (click)="setSearchingMode(false)">
      <mat-icon>close</mat-icon>
    </button>
    <span *ngIf="!searchingMode">{{market.tradeName}}</span>
    <span *ngIf="!searchingMode" class="spacer"></span>
    
    
    <input #searchInput class="search-mobile" *ngIf="searchingMode" [(ngModel)]="searchProductString" placeholder="Buscar produtos" autocomplete="off">

    <button (click)="clearSearchProductString($event)" *ngIf="searchProductString !== null && searchProductString.length > 0 && searchingMode" mat-button>Limpar</button>

    <button *ngIf="!searchingMode" mat-icon-button (click)="setSearchingMode(true)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container" fxShow="true" fxShow.gt-sm="false">
  <div fxLayout="row nowrap" fxLayoutGap="10px" class="overflow padding-bottom">
    <button fxFlex="0 0 auto" mat-stroked-button>Entrega: grátis</button>
    <button fxFlex="0 0 auto" mat-stroked-button>5 estrelas</button>
    <button fxFlex="0 0 auto" mat-stroked-button>Localização</button>
  </div>
</div>

<div *ngIf="!searchingMode" fxShow="true" fxShow.gt-sm="false" class="container" position="sticky" style="margin: 0; height: 65px">
  <mat-chip-list [multiple]="false">
    <div fxLayout="row nowrap" fxLayoutGap="10px" class="overflow padding-bottom">
      <mat-chip
      fxFlex="0 0 auto"
      *ngFor="let category of availableCategories" 
      color="accent"
      (click)="setSelectedCategory(category)"
      [selected]="category.selected"
      selectable="true">{{category.name}}</mat-chip>
    </div>
  </mat-chip-list>
</div>

<div class="container" fxShow="true" fxShow.gt-sm="false">  
  <div class="row">
      <app-one-by-two-card *ngFor="let product of productsFilteredByCategory">
        <div card-title>{{product.name}}</div>
        <div card-subtitle>{{product.price | currency}}</div>
        <div card-img><img *ngIf="product.images.length > 0" [src]="product.images[0]"></div>
        <div class="w100" card-actions>
          <button class="w100" mat-button color="primary" (click)="addProductToCart(product)">Adicionar ao carrinho</button>
        </div>
      </app-one-by-two-card>
  </div>
</div>



<button *ngIf="!searchingMode" class="fab-btn" mat-fab color="accent" fxShow="true" fxShow.gt-sm="false" (click)="buyersNavigationService.toCheckout(cart.cartId)">
  <span class="badgeposition" [matBadge]="this.cart.productsCount()" matBadgePosition="above before" matBadgeOverlap="true" matBadgeSize="medium" matBadgeColor="primary"></span>
  <mat-icon>shopping_cart</mat-icon>
</button>


<!--WEB LAYOUT-->
<mat-toolbar position="fixed" color="primary" fxHide="true" fxHide.gt-sm="false">
    <mat-toolbar-row>
      <div style="flex: 1 1 30%">
        <button *ngIf="!searchingMode" mat-icon-button (click)="buyersNavigationService.toFindMarketPage()">
          <mat-icon >arrow_back</mat-icon>
        </button>
        <button *ngIf="searchingMode" mat-icon-button (click)="setSearchingMode(false)">
          <mat-icon>close</mat-icon>
        </button>
        <span>{{market.tradeName}}</span>
      </div>
      <div style="flex: 1 1 40%; position: relative" class="margin-left margin-right">
        <mat-form-field class="padding-bottom w100 search-form-field" color="primary" appearance="standard">
          <input #searchInput [(ngModel)]="searchProductString" matInput placeholder="Buscar produtos" autocomplete="off"
            style="font-size: 14px" (focus)="setSearchingMode(true)">
        </mat-form-field>
      </div>
  
      <div style="flex: 1 1 30%" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="logOut()">Sair <mat-icon>exit_to_app</mat-icon></button>
      </div>
  
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div fxLayout="row" fxLayoutGap="10px" fxHide="true" fxHide.gt-sm="false">
    <div class="container margin-top margin-bottomgit fill-body-height" fxFlex="25%">
      <h2>Categorias</h2>
      <mat-chip-list class="mat-chip-list-stacked relative" orientation="vertical" [multiple]="false">
        <mat-chip *ngFor="let category of availableCategories" color="accent" (click)="setSelectedCategory(category)"
          [selected]="category.selected" selectable="true">{{category.name}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="container w100 margin-top margin-bottom fill-body-height overflow-hidden" fxFlex="50%; text-align: center">
      <h2>Exibindo {{selectedCategory.name}}</h2>
      <div style="padding-bottom: 32px" class="overflow fill-parent-height w100" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px grid">
        <app-one-by-two-card fxFlex="calc(50% - 10px)" fxFlex.xl="calc(33.999% - 10px)" *ngFor="let product of productsFilteredByCategory">
          <div card-title>{{product.name}}</div>
          <div card-subtitle>{{product.price | currency}}</div>
          <div card-img><img *ngIf="product.images.length > 0" [src]="product.images[0]"></div>
          <div class="w100" card-actions>
            <button class="w100" mat-button color="primary" (click)="addProductToCart(product)">Adicionar ao carrinho</button>
          </div>
        </app-one-by-two-card>
      </div>
      
    </div>
    <div class="container margin-top margin-bottom fill-body-height" fxFlex="25%;">
      <h2>Carrinho</h2>
      <div fxLayout="column" *ngIf="cart.isEmpty">
        Seu carrinho está vazio
      </div>
      <div fxLayout="column" *ngIf="!cart.isEmpty">
        <mat-list>
          <mat-list-item *ngFor="let inCartProduct of cart.products">
            <h4 mat-line>{{inCartProduct.product.name}}</h4>
            <p mat-line>{{inCartProduct.product.price | currency}}</p>
            <img width="50px" height="50px" *ngIf="inCartProduct.product.images.length > 0" [src]="inCartProduct.product.images[0]">
            <button style="width: 50px; height: 50px" mat-button color="warn" (click)="removeProductFromCart(inCartProduct.product)">X</button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <div class="w100">
          <button class="w100" [disabled]="!cart.cartId" mat-flat-button color="primary" (click)="buyersNavigationService.toCheckout(cart.cartId)">Fazer Pedido</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--END WEB LAYOUT-->
  
  
  <!-- MOBILE AND WEB LAYOUT -->
  <div class="container search-view-container" *ngIf="searchingMode">
    <div class="column">
      <h3 class="padding-bottom">Procurando por: {{searchProductString}}</h3>
      <div fxLayout="column" fxLayoutGap="10px" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="start start" fxLayoutGap.gt-md="10px grid">
        <app-one-by-two-card fxFlex="calc(100% - 10px)" fxFlex.gt-md="calc(33.999% - 10px)" *ngFor="let product of productsFilteredBySearch">
          <div card-title>{{product.name}}</div>
          <div card-subtitle>{{product.price | currency}}</div>
          <div card-img><img *ngIf="product.images.length > 0" [src]="product.images[0]"></div>
          <div class="w100" card-actions>
            <button class="w100" mat-button color="primary">Adicionar ao carrinho</button>
          </div>
        </app-one-by-two-card>
      </div>
    </div>
  </div>