$toolbarheight-small-screen: 56px;
$toolbar-height-large-screen: 64px;
$toolbar-breakpoint: 600px;
$margin-bottom: var(--margin);
$margin-top: var(--margin);


:host{
  padding-top: $toolbarheight-small-screen;
  display: block;
  background-color: whitesmoke;
  position: relative;
}

@media screen and (min-width: $toolbar-breakpoint){
  :host{
    padding-top: $toolbar-height-large-screen;
  }
}

mat-toolbar[position="fixed"] {
  position: fixed;
  top: 0;
  z-index: 10;
  height: $toolbarheight-small-screen;
}

@media screen and (min-width: $toolbar-breakpoint){
  mat-toolbar[position="fixed"] {
    height: $toolbar-height-large-screen;
  }
}
*[position="sticky"] {
  position: sticky;
  top: 56px;
  height: 56px;
  z-index: 10;
}

button.fab-btn{
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 11;
}

.badgeposition{
  position: relative;
  top: -10px;
  right: -32px;
}
.search-mobile {
  font-size: 14px;
  border: none;
  padding: 5px;
  background: whitesmoke;
  width: 100%;
}
.search-form-field{
  flex: 1 1 100%;
}

.search-form-field input::placeholder{
  color: white;
  opacity: 0.5;
} 

.search-form-field-large{
  flex: 1 1 40%;
}

.search-view-container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 56px;
  margin-bottom: 0px;
  z-index: 10;
  overflow: scroll;
}

.fill-body-height{
  height: calc(100vh - #{$toolbarheight-small-screen} - (#{$margin-bottom} + #{$margin-top}));
}

@media screen and (min-width: $toolbar-breakpoint){
  .fill-body-height{
    height: calc(100vh - #{$toolbar-height-large-screen} - (#{$margin-bottom} + #{$margin-top}));
  }
}

.fill-parent-height{
  height: 100%;
}

.overflow-hidden{
  overflow: hidden;
}